@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center; 
    padding: 20px;
  }
  
  .logo-container {
    display: flex;
    align-items: center; 
  }
  
  .logo-container img {
    width: 50px; 
    margin-right: 10px; 
  }
  .logo-name{
    color: rgb(17, 17, 17);
font-family: "Quicksand", serif;
font-size: 32px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
  }
  
  nav ul {
    list-style: none;
    display: flex; 
    gap: 20px; 
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  .home{
    color: rgb(254, 163, 1);
font-family: "Quicksand", serif;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
  }
  .about{
    color: rgb(1, 172, 253);
font-family: "Quicksand", serif;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
  }
  .facilities{
    color: rgb(5, 212, 223);
font-family: "Quicksand", serif;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
  }
  .admission{
    color: rgb(93, 88, 239);
font-family: "Quicksand", serif;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
  }
  .btn-div {
    display: flex; 
    justify-content: flex-end; 
}

.contact-btn {
    width: 197px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    cursor: pointer;
    margin: 0;
}


.banner {
position: static;
width: auto;
height: 575px;
left: 141px;
top: 100px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 50;
padding: 0px;
      }
      .banner-content {
        width: 50%; 
        margin: 0 auto;
      }
      .banner-title {
position: static;
width: 640px;
height: 183px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
font-family: "Quicksand", serif;
font-size: 56px;
font-weight: 700;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
          }
          .banner-text {
position: static;
width: 640px;
height: 50px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
color: rgb(17, 17, 17);
font-family: "Quicksand", serif;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
              }
            
              .explore-button {
position: static;
width: 197px;
height: 50px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 10px;
flex: none;
order: 2;
flex-grow: 0;
margin: 24px 0px;
border-radius: 12px;
background: rgb(17, 17, 17);
cursor: pointer;
color: rgb(255, 255, 255);
font-family: "Quicksand", serif;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
                      }
  .banner-image {
position: static;
width: 468.61px;
height: 575px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 50px;
                      }

                      .curriculum {


position: static;
width: auto;
height: 575px;
top: 100px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 10px;
margin-bottom: 50px;


                      }
                      
                      .curriculum h2 {
position: static;
width: 460.61px;
height: 57.5px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 50;
padding: 30px 0px 30px 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 80px 0px;
color: rgb(0, 0, 0);
font-family: "Quicksand", serif;
font-size: 46px;
font-weight: 700;
line-height: 57.5px;
letter-spacing: 0%;
text-align: center;
                      }
                      
                      .card-container {
                        display: flex; 
                        justify-content: space-between;
                        gap: 20px; 
                      }
                      
                      .card {
                        text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
position: relative;
width: 367.8px;
height: 481.5px;
box-sizing: border-box;
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);

                      }
                      #card1{
                        border: 0.94px solid rgb(222, 245, 255);
                        background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
                      }
                      #card2{

border: 0.94px solid rgb(255, 244, 220);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
                      }
                      #card3{
                        box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
                      }
                      
                      .card img {
                        max-width: 100%; 
                        height: 130px;
                        margin: 50px 10px 10px;

                      }
                      
                      .card h3 {
position: static;
width: auto;
height: 31.13px;
left: 78.57px;
top: 221.65px;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(32, 32, 32);
font-family: "Quicksand", serif;
font-size: 24.52px;
font-weight: 700;
line-height: 30.65px;
letter-spacing: 0%;
text-align: center;
                      }
                      .card p{
position: static;
width: 286.26px;
height: 74.51px;
left: 40.88px;
top: 286.26px;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(128, 128, 128);
font-family: "Raleway", serif;
font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;


                      }
                      
                      .read-more {
position: static;
width: 79.65px;
height: 18.86px;
left: 0;
top: 4.72px;
display: flex;
flex-direction: row;
align-items: center;
font-family: "Quicksand", serif;
font-size: 15.09px;
font-weight: 700;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
cursor: pointer;
text-decoration: none;
                      }