@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center; 
    padding: 20px;
  }
  
  .logo-container {
    display: flex;
    align-items: center; 
  }
  
  .logo-container img {
    width: 50px; 
    margin-right: 10px; 
  }
  .logo-name{
    color: rgb(17, 17, 17);
font-family: "Quicksand", serif;
font-size: 32px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
  }
  
  nav ul {
    list-style: none;
    display: flex; 
    gap: 20px; 
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  .home{
    color: rgb(254, 163, 1);
font-family: "Quicksand", serif;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
  }
  .about{
    color: rgb(1, 172, 253);
font-family: "Quicksand", serif;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
  }
  .facilities{
    color: rgb(5, 212, 223);
font-family: "Quicksand", serif;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
  }
  .admission{
    color: rgb(93, 88, 239);
font-family: "Quicksand", serif;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
  }
  .btn-div {
    display: flex; 
    justify-content: flex-end; 
}

.contact-btn {
    width: 197px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    cursor: pointer;
    margin: 0;
}


.banner {
position: static;
width: auto;
height: 575px;
left: 141px;
top: 100px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 50;
padding: 0px;
      }
      .banner-content {
        width: 50%; 
        margin: 0 auto;
      }
      .banner-title {
position: static;
width: 640px;
height: 183px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
font-family: "Quicksand", serif;
font-size: 56px;
font-weight: 700;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
          }
          .banner-text {
position: static;
width: 640px;
height: 50px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
color: rgb(17, 17, 17);
font-family: "Quicksand", serif;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
              }
            
              .explore-button {
position: static;
width: 197px;
height: 50px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 10px;
flex: none;
order: 2;
flex-grow: 0;
margin: 24px 0px;
border-radius: 12px;
background: rgb(17, 17, 17);
cursor: pointer;
color: rgb(255, 255, 255);
font-family: "Quicksand", serif;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
                      }
  .banner-image {
position: static;
width: 468.61px;
height: 575px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 50px;
                      }

                      .curriculum {


position: static;
width: auto;
height: 575px;
top: 100px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 10px;
margin-bottom: 250px;


                      }
                      
                      .curriculum h2 {
position: static;
width: 460.61px;
height: 57.5px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 50;
padding: 30px 0px 30px 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 80px 0px;
color: rgb(0, 0, 0);
font-family: "Quicksand", serif;
font-size: 46px;
font-weight: 700;
line-height: 57.5px;
letter-spacing: 0%;
text-align: center;
                      }
                      
                      .card-container {
                        display: flex; 
                        justify-content: space-between;
                        gap: 20px; 
                      }
                      
                      .card {
                        text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
position: relative;
width: 367.8px;
height: 481.5px;
box-sizing: border-box;
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);

                      }
                      #card1{
                        border: 0.94px solid rgb(222, 245, 255);
                        background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
                      }
                      #card2{

border: 0.94px solid rgb(255, 244, 220);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
                      }
                      #card3{
                        box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
                      }
                      
                      .card img {
                        max-width: 100%; 
                        height: 130px;
                        margin: 50px 10px 10px;

                      }
                      
                      .card h3 {
position: static;
width: auto;
height: 31.13px;
left: 78.57px;
top: 221.65px;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(32, 32, 32);
font-family: "Quicksand", serif;
font-size: 24.52px;
font-weight: 700;
line-height: 30.65px;
letter-spacing: 0%;
text-align: center;
                      }
                      .card p{
position: static;
width: 286.26px;
height: 74.51px;
left: 40.88px;
top: 286.26px;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(128, 128, 128);
font-family: "Raleway", serif;
font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;


                      }
                      
                      .read-more {
position: static;
width: 79.65px;
height: 18.86px;
left: 0;
top: 4.72px;
display: flex;
flex-direction: row;
align-items: center;
font-family: "Quicksand", serif;
font-size: 15.09px;
font-weight: 700;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
cursor: pointer;
text-decoration: none;
                      }


                      .button-container {
                        position: static;
                        display: flex;
                        justify-content: center; 
                        align-items: center; 
                        gap: 15px; 
                        margin-top: 50px; 
                        padding: 10px;
                    }
                    
                    button {
background: rgb(254, 163, 1);
                        border: none;
                        color: white;
                        font-size: 20px; 
                        padding: 10px 15px;
                        border-radius: 50%; 
                        cursor: pointer;
                        transition: transform 0.3s ease;
                        outline: none;
                    }
                    
                    button:hover {
                        transform: scale(1.1); 
                    }
                    
                    .prev-button, .next-button {
                        font-weight: bold; 
                        text-align: center;
                    }


                    
                    
                    .stories-section {
position: static;
width: auto;
height: 1118.02px;
left: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30;
padding: 20px 0px 20px 0px;
                    }
                    .stories-section h2 {
position: static;
width: 460.61px;
height: 57.5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 80;
padding: 60px 0px 60px 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 80px 0px;
color: rgb(0, 0, 0);
font-family: "Quicksand", serif;
font-size: 46px;
font-weight: 700;
line-height: 57.5px;
letter-spacing: 0%;
text-align: center;
                    }
                    
.stories-container {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.story.large {
position: relative;
width: 540.27px;
height: 630.52px;
border-radius: 16px;
background: rgb(255, 255, 255);
}

.story-grid-right {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px;
    grid-column: 2 / 3;
}

.story {
position: relative;
width: 290.69px;
height: 301.61px;
border-radius: 16px;
background: rgb(255, 255, 255);
}

.story img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
}

                    
                    
                    
                  
                    
                    
                    .story-content {
                        margin-top: 15px;
                        padding: 15px;
                    }
                    
                    .story-content .date {
position: absolute;
width: 164.51px;
height: 47.93px;
left: 38.35px;
top: 314.14px;
border-radius: 47.93px;
background: rgb(60, 216, 232);
display: flex;
flex-direction: row;
align-items: center;
color: rgb(255, 255, 255);
font-family: "Raleway", serif;
font-size: 13.34px;
font-weight: 400;
line-height: 25.76px;
letter-spacing: 0%;
justify-content: center;
text-align: center;
text-transform: capitalize;
                    }
                    .story-content .dates {
position: absolute;
width: 174.51px;
height: 38.35px;
left: 38.35px;
top: 157.81px;
border-radius: 47.93px;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(255, 255, 255);
font-family: "Raleway", serif;
font-size: 13.34px;
font-weight: 400;
line-height: 25.76px;
letter-spacing: 0%;
justify-content: center;
text-align: center;
text-transform: capitalize;
                    }
                    
                    .story-content h3 {
position: static;
width: 402.49px;
height: 69.98px;
left: 0;
top: 2.88px;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(0, 0, 0);
font-family: "Quicksand", serif;
font-size: 24px;
font-weight: 700;
line-height: 38.35px;
letter-spacing: 0%;
text-align: left;
                    }
                    
                    .story-content p {
position: absolute;
width: 433.06px;
height: 75.74px;
left: 38.35px;
top: 520.26px;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(102, 102, 102);
font-family: "Raleway", serif;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;

                    }
                    
                    .story-content h3, .story-content p {
                        margin: 0;
                    }

                    .viewall-button{
position: static;
width: 197px;
height: 50px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 10px;
flex: none;
order: 2;
flex-grow: 0;
margin: 48px auto;
border-radius: 12px;
background: rgb(17, 17, 17);
cursor: pointer;
color: rgb(255, 255, 255);
font-family: "Quicksand", serif;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
                    }


                    footer {
                        /* Rectangle 17 */
position: static;
width: auto;
height: auto;
left: 1px;
top: 2572px;
background: rgb(1, 172, 253);
                      }
                      
                      .footer-container {
                        max-width: auto;
                        margin: 0 auto;
                        display: flex;
                        justify-content: space-between;
                        padding: 20px;
                        
                      }
                      .logo-container {
                        display: flex; 
                        align-items: center; 
                      }
                      .footer-left {
                        flex: 2; 
                      }
                      
                      .footer-left img {
                        /* Group 1 */
position: static;
width: 82.9px;
height: 81.65px;
left: 141px;
right: 75.81px;
top: 2695px;
bottom: -2695px;
                        /* max-width: 150px; 
                        margin-bottom: 20px; */
                      }
                      .footer-logo-name{
position: static;
width: auto;
height: auto;
left: 234.6px;
top: 2696.32px;
color: rgb(255, 255, 255);
font-family: "Quicksand", serif;
font-size: 4rem;
font-weight: 700;
line-height: 39.51px;
letter-spacing: 0%;
text-align: left;
                      }
                      .footer-des{
position: static;
width: 399.02px;
height: 100px;
left: 148px;
top: 2812px;
color: rgb(255, 255, 255);
font-family: "Quicksand", serif;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
                      }
                      
                      .footer-middle,
                      .footer-right {
                        flex: 1;
                      }
                      
                      .footer-middle h4,
                      .footer-right h4 {
                       
position: static;
width: auto;
height: 30px;
left: 719.73px;
top: 2695px;
color: rgb(255, 255, 255);
font-family: "Quicksand", serif;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 15px;
                      }
                      
                      .footer-middle ul,
                      .footer-right ul {
                        list-style: none;
                        padding: 0;
                      }
                      
                      .footer-middle ul li,
                      .footer-right ul li {
                        margin-bottom: 10px;
                      }
                      
                      .footer-middle ul li a,
                      .footer-right ul li a {
                        color: #fff;
                        text-decoration: none;
                      }
                      
                      .social-icons li {
                        display: inline-block;
                        margin-right: 10px;
                      }
                      
                      .social-icons a {
                        color: #fff;
                        font-size: 20px;
                      }
                    
                    /* Responsive Design */
                    /* @media (max-width: 768px) {
                        .stories-container {
                            grid-template-columns: 1fr;
                        }
                    
                        .story.large {
                            grid-column: span 1;
                        }
                    } */